<html>
  <head>
    <title>Landing</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body class="landingBg">
    <a href="http://installer.71m.us/install?url=https://github.com/authyhack/server"><img src="../landing.png"/></a>
  </body>
</html>