<!DOCTYPE html>
<html>
<head>
	<title>User</title>
</head>
<body>
	<h1>Welcome <%= name%></h1>
	<h3>Your email is <%= email%></h3>
	<img width="400" src="http://www.warrenphotographic.co.uk/photography/bigs/09436-Profile-portrait-of-silver-tabby-cat.jpg"/>
</body>
</html>